@font-face {
    font-family: myFirstFont;
    src: url(term.ttf);
}
*{
	margin:0px;
	padding:0px;
	border:none;
	font-size:16px;
	outline:none;
	font-family: myFirstFont;
}
body{
	width:100%;
	background-color:#1d1d1d;
	height:100%;
}
.command{
	width:100%;
	position:absolute;
	top:300px;
	left:0px;
	height:100px;
	box-sizing:border-box;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-direction:column;
}
.command input{
	background-color:black;
	border:1px solid #1f1f1f;
	font-size:16px;
	color:#797979;
	width:400px;
	padding:10px;
	z-index:99999;
}
.command input::placeholder{
	color:#797979;
}
.nav{
	background-color:black;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:20px;
}
#time{
	color:white;
	float:right;
	margin-top:2px;
	margin-right:3px;
}
.left{
	float:left;
	display:flex;
	margin-top:2px;
	margin-left:5px;
}
#bar{
	color:white;
	margin-right:5px;
	margin-left:5px;
}
.music-player{
	width:20%;
	border:1px solid #1f1f1f;
	height:100%;
	margin-right:10px;
	box-shadow:0px 0px 25px rgba(0,0,0,0.2);
	background-color:black;
}
.scanner{
	width:20%;
	border:1px solid #1f1f1f;
	left:200px;
	height:100%;
	box-shadow:0px 0px 25px rgba(0,0,0,0.2);
	background-color:black;
}
.list{
	width:60%;
	margin-right:10px;
	border:1px solid #1f1f1f;
	left:200px;
	height:100%;
	box-shadow:0px 0px 25px rgba(0,0,0,0.2);
	background-color:black;
}
.content{
	width:100%;
	height:90%;
	overflow:hidden;
	background-color:black;
	color:white;
	padding:5px;
	box-sizing:border-box;
}
.container{
	width:100%;
	height:100vh;
	padding:10px;
	padding-top:30px;
	box-sizing:border-box;
	display:flex;
}
.music-player option{
	padding:2px;
	box-sizing:border-box;
}
select option:checked{
  background:  -webkit-linear-gradient(bottom, green 0%, green 100%);
}
iframe{
	width:100%;
	height:98%;
	overflow:hidden;
	border:none;
}
.titlebar{
	width:100%;
	background-color:#373742;
	color:white;
}
.cli-area{
	width:100%;
	height:80%;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
}
.texta{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	padding-left:10px;
	box-sizing:border-box;
	display:flex;
}
.texta input{
	background-color:black;
	color:white;
	border:0px solid transparent;
	outline:none;
}
#prompt{
	color:green;
	margin-right:5px;
}
